<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/app.css}" rel="stylesheet">

    <title>Slack</title>
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Slack</a>
</nav>
<div class="container mt-2">
    <h1 class="text-light">Messages</h1>

    <div id="messages">
        <!--/*@thymesVar id="messages" type="java.util.List<nl.svendubbeld.fontys.slack.shared.Message>"*/-->
        <!--<div class="message message&#45;&#45;received" th:each="message : ${messages}">
            <div th:text="${message.content}" class="message__content"></div>
            <div th:data-livestamp="${message.date}" class="message__timestamp">&nbsp;</div>
        </div>-->
    </div>

    <form onsubmit="return onSubmitMessageForm()">
        <div class="form-group">
            <label for="send-destination" class="text-light">Destination:</label>
            <select id="send-destination" name="destination" class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="send-message" class="text-light">Message:</label>
            <textarea id="send-message" name="message" type="text" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>

</div>

<script id="message-template" type="text/x-handlebars-template">
    <div class="message-container message-container--{{type}}">
        <div class="message message--{{type}}">
            <div class="message__content">
                <div>
                    {{message.sender}} => {{message.destination}}
                </div>
                <div>
                    {{message.content}}
                </div>
            </div>
            <div class="message__timestamp" data-livestamp="{{message.date}}">&nbsp;</div>
        </div>
    </div>
</script>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/momentjs/min/moment-with-locales.min.js}"></script>
<script th:src="@{/webjars/livestampjs/livestamp.min.js}"></script>
<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script th:src="@{/webjars/handlebars/handlebars.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>
