<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/app.css}" rel="stylesheet">

    <title th:text="'Slack - ' + ${user}">Slack</title>
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Slack</a>
</nav>
<div class="container mt-2">
    <h1 class="text-light">Messages</h1>

    <div class="row">
        <div class="nav flex-column nav-pills col-md-3" id="messages-destination" role="tablist" aria-orientation="vertical">
        </div>
        <div class="tab-content col-md-9" id="messages-content">
        </div>
    </div>

</div>

<script id="message-template" type="text/x-handlebars-template">
    <div class="message-container message-container--{{type}}">
        <div class="message message--{{type}}">
            <div class="message__sender">
                {{message.sender}}
            </div>
            <div class="message__content">{{message.content}}</div>
            <div class="message__timestamp" data-livestamp="{{message.date}}">&nbsp;</div>
        </div>
    </div>
</script>

<script id="messages-nav-template" type="text/x-handlebars-template">
    <a class="nav-link" id="messages-destination-{{type}}-{{key}}-tab" data-toggle="pill" href="#messages-destination-{{type}}-{{key}}"
       role="tab" aria-controls="messages-destination-{{type}}-{{key}}" aria-selected="true">{{name}}</a>
</script>

<script id="messages-content-template" type="text/x-handlebars-template">
    <div class="tab-pane" id="messages-destination-{{type}}-{{key}}" role="tabpanel"
         aria-labelledby="messages-destination-{{type}}-{{key}}-tab" data-key="{{type}}.{{key}}">
        <div class="messages"></div>
        <form onsubmit="return onSubmitMessageForm('#messages-destination-{{type}}-{{key}}-message', '{{type}}.{{key}}')">
            <div class="form-group">
                <label for="messages-destination-{{type}}-{{key}}-message" class="text-light">Message:</label>
                <input id="messages-destination-{{type}}-{{key}}-message" name="message" type="text" class="form-control" autocomplete="off" required />
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</script>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/momentjs/min/moment-with-locales.min.js}"></script>
<script th:src="@{/webjars/livestampjs/livestamp.min.js}"></script>
<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script th:src="@{/webjars/handlebars/handlebars.min.js}"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  const user = /*[[${user}]]*/ '';
  /*]]>*/
</script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>
